USE [master]
GO
/****** Object:  Database [trading]    Script Date: 8/17/2023 1:24:14 AM ******/
CREATE DATABASE [trading]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'trading', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\trading.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'trading_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\trading_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [trading].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [trading]
GO
/****** Object:  Table [dbo].[tradeinfo]    Script Date: 8/17/2023 1:24:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tradeinfo](
	[TRADEDATE] [date] NULL,
	[TRADEDATECHAR] [nchar](10) NOT NULL,
	[ACCTNO] [nchar](12) NOT NULL,
	[STOCKCODE] [nchar](12) NOT NULL,
	[COUNTRY] [nchar](10) NOT NULL,
	[BUYSELL] [int] NOT NULL,
	[PRICE] [numeric](18, 6) NOT NULL,
	[UNIT] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vtradeinfo]    Script Date: 8/17/2023 1:24:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vtradeinfo]
AS
SELECT        CONVERT(date, TRADEDATECHAR, 112) AS TRADEDATE, ACCTNO, STOCKCODE, COUNTRY, BUYSELL, CAST(PRICE AS float) AS PRICE, UNIT, CAST(PRICE * UNIT AS float) AS GROSSAMOUNT
FROM            dbo.tradeinfo
GO
/****** Object:  Table [dbo].[acctinfo]    Script Date: 8/17/2023 1:24:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acctinfo](
	[ACCTNO] [nchar](12) NOT NULL,
	[ACCTNAME] [nchar](100) NULL,
 CONSTRAINT [PK_acctinfo] PRIMARY KEY CLUSTERED 
(
	[ACCTNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[acctinfo]  WITH NOCHECK ADD  CONSTRAINT [FK_acctinfo_acctinfo] FOREIGN KEY([ACCTNO])
REFERENCES [dbo].[acctinfo] ([ACCTNO])
GO
ALTER TABLE [dbo].[acctinfo] CHECK CONSTRAINT [FK_acctinfo_acctinfo]
GO
/****** Object:  StoredProcedure [dbo].[GetTradeinfoByDate]    Script Date: 8/17/2023 1:24:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetTradeinfoByDate]
	@FromDate date, @ToDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [TRADEDATE]
      ,vt.acctno AS ACCTNO,coalesce(ac.acctname,'') as ACCTNAME
      ,[STOCKCODE]
      ,[COUNTRY]
      ,case when buysell = 1 then 'Buy' else 'Sell' END as BUYSELL
      ,[PRICE]
      ,[UNIT]
      ,[GROSSAMOUNT]
  FROM [trading].[dbo].[vtradeinfo] as vt left outer join  [trading].[dbo].[acctinfo] as ac 
  on vt.acctno = ac.acctno
where tradedate between @FromDate and @ToDate 
order by country, BUYSELL, tradedate, acctno, stockcode; 
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tradeinfo"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vtradeinfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vtradeinfo'
GO
USE [master]
GO
